# Credenciales y tokens de autenticación
credentials.json

# Archivos generados por Python
__pycache__/


# Entornos virtuales
venv/
ENV/
env/

# Otros archivos que podrías querer ignorarcredentials.json
